<div class="content">
  <h2>Multisampled Drum Kit</h2>
</div>

<div class="content">
  <p>
    Go ahead and hit the hihat a few times... Notice how each sample sounds
    slightly different? That's multisampling, baby.
  </p>
</div>

<div class="content">
  {{#if isLoading}}
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  {{else}}
    {{#each drums as |drum|}}
      <div class="beat-pad">
        <span role="button" class="text">{{drum.name}}</span>
        <span role="button" class="pad" {{action "playDrum" drum}}></span>
      </div>
    {{/each}}
  {{/if}}
</div>

<div class="content">
  <CodeBlock @language="handlebars">
    &#123;{#if isLoading}}
      &#123;{!-- some loading indicator... --}}
    &#123;{else}}
      &#123;{#each drums as |drum|}}
        &lt;div class="beat-pad">
          &lt;span class="text">&#123;{drum.name}}&lt;/span>
          &lt;span class="pad" &#123;{action "playDrum" drum}}>&lt;/span>
        &lt;/div>
      &#123;{/each}}
    &#123;{/if}}
  </CodeBlock>

  <CodeBlock @language="javascript">
    export default Ember.Whatever.extend({
      audio: Ember.inject.service(),
      drums: Ember.A(),
      isLoading: true,

      initBeats: Ember.on('init', function() {
        Ember.RSVP.all([
          this._loadSamplerFor('kick'),
          this._loadSamplerFor('snare'),
          this._loadSamplerFor('hihat')
        ])
        .then(() => this.set('isLoading', false));
      }),

      _loadSamplerFor(name) {
        // 'snare1.wav', 'kick2.wav', etc..., from this project's public folder
        const drums = [`${name}1.wav`, `${name}2.wav`, `${name}3.wav`];

        // If name === 'kick', this creates a Sampler instance called
        // 'kick' that contains the sounds 'kick1', 'kick2', and 'kick3'
        return this.get('audio').load(drums).asSampler(name).then((drum) => {
          this.get('drums').pushObject(drum);
        });
      },

      actions: {
        playDrum(drum) {
          drum.play();
        }
      }
    });
  </CodeBlock>
</div>
