# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

setupcontainer: &setupcontainer
  docker:
    - image: circleci/node:10-browsers
  working_directory: ~/repo

teststeps: &teststeps
  - checkout
  - restore_cache:
      keys:
      - v1-dependencies-{{ checksum "package.json" }}
      # fallback to using the latest cache if no exact match is found
      - v1-dependencies-
  - run: yarn install --non-interactive
  - save_cache:
      paths:
        - node_modules
      key: v1-dependencies-{{ checksum "package.json" }}
  - run: node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO

lintsteps: &lintsteps
  - checkout
  - restore_cache:
      keys:
      - v1-dependencies-{{ checksum "package.json" }}
      # fallback to using the latest cache if no exact match is found
      - v1-dependencies-
  - run: yarn install --non-interactive
  - save_cache:
      paths:
        - node_modules
      key: v1-dependencies-{{ checksum "package.json" }}
  - run: yarn lint:$LINT_TYPE

version: 2
jobs:
  lts2.18:
    <<: *setupcontainer
    environment:
      EMBER_TRY_SCENARIO: ember-lts-2.18
    steps: *teststeps

  lts3.4:
    <<: *setupcontainer
    environment:
      EMBER_TRY_SCENARIO: ember-lts-3.4
    steps: *teststeps

  beta:
    <<: *setupcontainer
    environment:
      EMBER_TRY_SCENARIO: ember-beta
    steps: *teststeps

  canary:
    <<: *setupcontainer
    environment:
      EMBER_TRY_SCENARIO: ember-canary
    steps: *teststeps

  jquery:
    <<: *setupcontainer
    environment:
      EMBER_TRY_SCENARIO: ember-default-with-jquery
    steps: *teststeps

  linthbs:
    <<: *setupcontainer
    environment:
      LINT_TYPE: hbs
    steps: *lintsteps

  lintjs:
    <<: *setupcontainer
    environment:
      LINT_TYPE: js
    steps: *lintsteps

  # Use release build to generate coverage
  release_and_coverage:
    <<: *setupcontainer
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: yarn install --non-interactive
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: COVERAGE=true node_modules/.bin/ember try:one ember-release
      - run: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  test_and_lint:
    jobs:
      - lts2.18
      - lts3.4
      - release_and_coverage
      - beta
      - canary
      - jquery
      - linthbs
      - lintjs