.beat-lane
  margin: 2em

  .text
    display: block

.beat-pad
  display: inline-block
  height: 100px
  width: 100px
  text-align: center

  .pad
    background-color: darken($code-bg, 6)
    display: block
    height: 100%

    &.active
      background-color: red

      &.playing
        background-color: black
