<div class="content">
  <h1>Note Objects</h1>

  <p>
    Note objects returned from the <code>asFont</code> method are plain
    <code>Ember.Object</code>s. Using the note <code>Ab1</code> as an example,
    here is what getting these attributes will look like:
  </p>

  <ul>
    <li><code>note.get('letter')</code>: A</li>
    <li><code>note.get('accidental')</code>: b</li>
    <li><code>note.get('octave')</code>: 1</li>
    <li><code>note.get('identifier')</code>: Ab1</li>
    <li><code>note.get('name')</code>: Ab</li>
  </ul>
</div>
