<div class="content">
  {{#if isLoading}}
    <h3>Loading....</h3>
  {{else}}
    <div id="piano">
      <ol>
        {{#each notes as |note|}}
          <li {{action 'playPianoNote' note.identifier}} class={{if note.accidental 'black'}}>{{note.name}}</li>
        {{/each}}
      </ol>
    </div>
  {{/if}}
</div>
