<nav class="navbar navbar-default remodal-bg">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <LinkTo @route="index" class="navbar-brand">
        <img src="/ember-audio/ember-logo.png" alt="Ember Logo">
        <span>audio</span>
      </LinkTo>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <LinkTo @route="audio-files">Audio Files</LinkTo>
        </li>
        <li>
          <LinkTo @route="soundfonts">Sound Fonts</LinkTo>
        </li>
        <li>
          <LinkTo @route="audio-routing">Audio Routing</LinkTo>
        </li>
        <li>
          <LinkTo @route="timing">Timing/Scheduling</LinkTo>
        </li>
        <li>
          <LinkTo @route="synthesis">Synthesis</LinkTo>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/ember-audio/docs/index.html">API Docs</a>
        </li>
        <li>
          <a href="https://github.com/sethbrasile/ember-audio">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main">
  {{outlet}}
</div>
