<div class="content">
  <h2>Audio Routing</h2>
  <button class="btn btn-primary" {{action 'playSound'}}>Play Sound</button>
  <button class="btn {{if distortionEnabled 'btn-warning' 'btn-success'}}" {{action 'toggleDistortion'}}>
    Turn {{if distortionEnabled 'Off' 'On'}} Distortion
  </button>
</div>
