<h2>Play a Soundfont</h2>

<ul class="nav nav-tabs">
  {{#link-to 'audio-files.simple' tagName='li' classNames='link'}}
    <a>Simple</a>
  {{/link-to}}

  {{#link-to 'audio-files.mp3-player' tagName='li' classNames='link'}}
    <a>MP3 Player</a>
  {{/link-to}}
</ul>

{{outlet}}
