<h1>Audio Files</h1>

<ul class="nav nav-tabs">
  <LinkTo @route="audio-files.simple" tagName="li" classNames="link">
    <a>Simple</a>
  </LinkTo>

  <LinkTo @route="audio-files.mp3-player" tagName="li" classNames="link">
    <a>MP3 Player</a>
  </LinkTo>

  <LinkTo @route="audio-files.drum-kit" tagName="li" classNames="link">
    <a>Drum Kit Example</a>
  </LinkTo>
</ul>

{{outlet}}
