<h1>Audio Files</h1>

<ul class="nav nav-tabs">
  {{#link-to 'audio-files.simple' tagName='li' classNames='link'}}
    <a>Simple</a>
  {{/link-to}}

  {{#link-to 'audio-files.mp3-player' tagName='li' classNames='link'}}
    <a>MP3 Player</a>
  {{/link-to}}

  {{#link-to 'audio-files.drum-kit' tagName='li' classNames='link'}}
    <a>Drum Kit Example</a>
  {{/link-to}}
</ul>

{{outlet}}
