<h2>Play an Audio File</h2>

<ul class="nav nav-tabs">
  {{#link-to 'audio-files.simple' tagName='li' classNames='link'}}
    <a>Simple</a>
  {{/link-to}}

  {{#link-to 'audio-files.mp3-player' tagName='li' classNames='link'}}
    <a>MP3 Player Example</a>
  {{/link-to}}

  {{#link-to 'audio-files.mp3-player-code' tagName='li' classNames='link'}}
    <a>MP3 Player Code</a>
  {{/link-to}}
</ul>

{{outlet}}
