<div class="content">
  <h2>Play a single note</h2>

  <button {{action 'playSingleNoteLeft'}}>Play Single Note Panned Left</button>
  <button {{action 'playSingleNoteRight'}}>Play Single Note Panned Right</button>
  <button {{action 'playTwoPannedNotes'}}>Play Two Panned Notes</button>
</div>
