<div class="content">
  <h1>Ember Audio</h1>
  <h3>Making the Web Audio API super EZ since 2016</h3>

  <hr>

  <p>
    Ember Audio provides an <code>audio</code> service and various
    classes/mixins that make working with the Web Audio API super EZ.
  </p>

  <p>
    Ember Audio aims to simplify sampling, triggering, routing, scheduling,
    synthesizing, soundfonts, and working with audio in-general.
  </p>
</div>

<div class="content">

  <button class="btn btn-primary" {{action 'playSound'}}>Play Sound</button>

{{#code-block language='javascript'}}
  export default Ember.Whatever.extend({
    audio: Ember.inject.service(),

    initAudioFile: Ember.on('init', function() {
      // Eb5.mp3 is an mp3 file located in the "public" folder
      this.get('audio').load('Eb5.mp3').asSound('piano-note');
    }),

    actions: {
      playSound() {
        this.get('audio').getSound('piano-note').play();
      }
    }
  });
{{/code-block}}

</div>

<hr>

<div class="content">
  <p>
    Please make suggestions for more features or changes to the API by creating
    an issue or pinging me on the ember community slack (@sethbrasile)
  </p>
</div>

<div class="buy-beer content">
  <h5>Buy Seth Brasile a Beer</h5>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="QDPUK852HN9U2">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>
