<h1>Soundfonts</h1>

<ul class="nav nav-tabs">
  {{#link-to 'soundfonts.play' tagName='li' classNames='link'}}
    <a>Play</a>
  {{/link-to}}

  {{#link-to 'soundfonts.code' tagName='li' classNames='link'}}
    <a>Code</a>
  {{/link-to}}

  {{#link-to 'soundfonts.notes' tagName='li' classNames='link'}}
    <a>Note Objects</a>
  {{/link-to}}
</ul>

{{outlet}}
