<h1>Soundfonts</h1>

<ul class="nav nav-tabs">
  <LinkTo @route="soundfonts.index" tagName="li" classNames="link">
    <a>Example</a>
  </LinkTo>

  <LinkTo @route="soundfonts.notes" tagName="li" classNames="link">
    <a>Note Objects</a>
  </LinkTo>
</ul>

{{outlet}}
