<h1>Synthesis</h1>

<ul class="nav nav-tabs">
  <LinkTo @route="synthesis.index" tagName="li" classNames="link">
    <a>Simple</a>
  </LinkTo>

  <LinkTo @route="synthesis.drum-kit" tagName="li" classNames="link">
    <a>Drum Kit</a>
  </LinkTo>

  <LinkTo @route="synthesis.xy-pad" tagName="li" classNames="link">
    <a>XY Pad</a>
  </LinkTo>
</ul>

{{outlet}}
