<h1>Synthesis</h1>

<ul class="nav nav-tabs">
  {{#link-to "synthesis.index" tagName="li" classNames="link"}}
    <a>Simple</a>
  {{/link-to}}

  {{#link-to "synthesis.drum-kit" tagName="li" classNames="link"}}
    <a>Drum Kit</a>
  {{/link-to}}

  {{#link-to "synthesis.xy-pad" tagName="li" classNames="link"}}
    <a>XY Pad</a>
  {{/link-to}}
</ul>

{{outlet}}
