<h1>Timing</h1>

<ul class="nav nav-tabs">
  <LinkTo @route="timing.index" tagName="li" classNames="link">
    <a>Understanding Timing</a>
  </LinkTo>

  <LinkTo @route="timing.with-ember-audio" tagName="li" classNames="link">
    <a>Timing with Ember Audio</a>
  </LinkTo>

  <LinkTo @route="timing.drum-machine" tagName="li" classNames="link">
    <a>Multisampled Drum Machine</a>
  </LinkTo>
</ul>

{{outlet}}
