<h1>Timing</h1>

<ul class="nav nav-tabs">
  {{#link-to 'timing.index' tagName='li' classNames='link'}}
    <a>Understanding Timing</a>
  {{/link-to}}

  {{#link-to 'timing.with-ember-audio' tagName='li' classNames='link'}}
    <a>Timing with Ember Audio</a>
  {{/link-to}}

  {{#link-to 'timing.drum-machine' tagName='li' classNames='link'}}
    <a>Drum Machine Example</a>
  {{/link-to}}
</ul>

{{outlet}}
